<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="100.0.14" targetFramework="net48" />
  <package id="cef.redist.x86" version="100.0.14" targetFramework="net48" />
  <package id="CefSharp.Common" version="100.0.140" targetFramework="net48" />
  <package id="CefSharp.WinForms" version="100.0.140" targetFramework="net48" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net462" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net462" />
  <package id="MonoGame.Content.Builder.Task" version="3.8.0.1641" targetFramework="net48" />
</packages>