<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3239.1723" targetFramework="net462" />
  <package id="cef.redist.x86" version="3.3239.1723" targetFramework="net462" />
  <package id="CefSharp.Common" version="63.0.3" targetFramework="net462" />
  <package id="CefSharp.WinForms" version="63.0.3" targetFramework="net462" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net462" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net462" />
  <package id="MonoGame.SceneGraph" version="1.2.0.1" targetFramework="net462" />
</packages>